<md-button ng-click="onManageUsers({event: $event})" ng-show="!isEdit && !isPublic" class="md-raised md-primary">{{ 'customer.manage-users' | translate }}</md-button>
<md-button ng-click="onManageAssets({event: $event})" ng-show="!isEdit && !isPublic" class="md-raised md-primary">{{ 'customer.manage-assets' | translate }}</md-button>
<md-button ng-click="onManageDevices({event: $event})" ng-show="!isEdit" class="md-raised md-primary">{{ 'customer.manage-devices' | translate }}</md-button>
<md-button ng-click="onManageDashboards({event: $event})" ng-show="!isEdit" class="md-raised md-primary">{{ 'customer.manage-dashboards' | translate }}</md-button>
<md-button ng-click="onDeleteCustomer({event: $event})" ng-show="!isEdit && !isPublic" class="md-raised md-primary">{{ 'customer.delete' | translate }}</md-button>

<div layout="row">
	<md-button ngclipboard data-clipboard-action="copy"
			   ngclipboard-success="onCustomerIdCopied(e)"
			   data-clipboard-text="{{customer.id.id}}" ng-show="!isEdit"
			   class="md-raised">
		<md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
		<span translate>customer.copyId</span>
	</md-button>
</div>

<md-content class="md-padding" layout="column">
	<fieldset ng-show="!isPublic" ng-disabled="$root.loading || !isEdit">
		<md-input-container class="md-block">
			<label translate>customer.title</label>
			<input required name="title" ng-model="customer.title">	
			<div ng-messages="theForm.title.$error">
	      		<div translate ng-message="required">customer.title-required</div>
	    	</div>				
		</md-input-container>
		<md-input-container class="md-block">
			<label translate>customer.description</label>
			<textarea ng-model="customer.additionalInfo.description" rows="2"></textarea>
		</md-input-container>
		<tb-contact contact="customer" the-form="theForm" is-edit="isEdit"></tb-contact>
	</fieldset>
</md-content>
