$previewSize: 100px !default;

.tb-file-select-container {
  position: relative;
  width: 100%;
  height: $previewSize;
}

.tb-file-preview {
  width: auto;
  max-width: $previewSize;
  height: auto;
  max-height: $previewSize;
}

.tb-file-clear-container {
  position: relative;
  float: right;
  width: 48px;
  height: $previewSize;
}

.tb-file-clear-btn {
  position: absolute !important;
  top: 50%;
  transform: translate(0%, -50%) !important;
}
