<md-content flex layout="column">
    <section flex layout="column">
        <md-content flex class="md-padding" layout="column">
            <div flex layout="row" ng-repeat="(aliasId, entityAliasInfo) in vm.entityAliasesInfo">
                <md-input-container flex>
                    <label>{{entityAliasInfo.alias}}</label>
                    <md-select ng-model="entityAliasInfo.selectedId" ng-change="vm.currentAliasEntityChanged(aliasId, entityAliasInfo.selectedId)">
                        <md-option ng-repeat="resolvedEntity in entityAliasInfo.resolvedEntities" ng-value="resolvedEntity.id">
                            {{resolvedEntity.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-content>
    </section>
</md-content>
