@import "../../../scss/constants";

$md-light: rgba(255, 255, 255, 100%) !default;
$md-edit-icon-fill: #757575 !default;

md-toolbar.md-table-toolbar.alternate {
  .md-toolbar-tools {
    md-icon {
      color: $md-light;
    }
  }
}

.md-table {
  &.tb-attribute-table {
    table-layout: fixed;

    td.md-cell {
      &.tb-value-cell {
        overflow: auto;
      }
    }
  }

  .md-cell {
    ng-md-icon {
      float: right;
      height: 16px;
      fill: $md-edit-icon-fill;
    }
  }
}

.widgets-carousel {
  position: relative;
  height: calc(100% - 100px);
  min-height: 150px !important;
  margin: 0;

  tb-dashboard {
    #gridster-parent {
      padding: 0 7px;
    }
  }
}
