.tb-link-label-autocomplete {
  .tb-not-found {
    display: block;
    height: 48px;
    line-height: 1.5;

    .tb-no-entries {
      line-height: 48px;
    }
  }

  li {
    height: auto !important;
    white-space: normal !important;
  }
}
