<tb-rule-node-defined-config ng-if="useDefinedDirective()"
                             rule-node-id="ruleNodeId"
                             ng-model="configuration"
                             rule-node-directive="{{nodeDefinition.configDirective}}"
                             ng-required="required"
                             ng-readonly="readonly">
</tb-rule-node-defined-config>
<div class="tb-rulenode-directive-error" ng-if="definedDirectiveError">{{definedDirectiveError}}</div>
<tb-json-object-edit ng-if="!useDefinedDirective()"
                     class="tb-rule-node-configuration-json"
                     ng-model="configuration"
                     label="{{ 'rulenode.configuration' | translate }}"
                     ng-required="required"
                     fill-height="true">
</tb-json-object-edit>
