.tb-audit-logs {
  background-color: #fff;

  .tb-audit-log-margin-18px {
    margin-bottom: 18px;
  }

  .tb-audit-log-toolbar {
    font-size: 20px;
  }

  md-input-container.tb-audit-log-search-input {
    .md-errors-spacer {
      min-height: 0;
    }
  }
}

.tb-audit-log-container {
  overflow-x: auto;
}

md-list.tb-audit-log-table {
  min-width: 700px;
  padding: 0;

  &.tb-audit-log-table-full {
    min-width: 900px;
  }

  md-list-item {
    padding: 0;
  }

  .tb-row {
    height: 48px;
    padding: 0;
    overflow: hidden;
  }

  .tb-row:hover {
    background-color: #eee;
  }

  .tb-header:hover {
    background: none;
  }

  .tb-header {
    .tb-cell {
      font-size: 12px;
      font-weight: 700;
      color: rgba(0, 0, 0, .54);
      white-space: nowrap;
      background: none;
    }
  }

  .tb-cell {
    padding: 0 24px;
    margin: auto 0;
    overflow: hidden;
    font-size: 13px;
    color: rgba(0, 0, 0, .87);
    text-align: left;
    vertical-align: middle;

    .md-button {
      padding: 0;
      margin: 0;
    }
  }

  .tb-cell.tb-number {
    text-align: right;
  }
}
