<div translate class="tb-cell" flex="30">audit-log.timestamp</div>
<div ng-if="auditLogMode != types.auditLogMode.entity" translate class="tb-cell" flex="10">audit-log.entity-type</div>
<div ng-if="auditLogMode != types.auditLogMode.entity" translate class="tb-cell" flex="30">audit-log.entity-name</div>
<div ng-if="auditLogMode != types.auditLogMode.user" translate class="tb-cell" flex="30">audit-log.user</div>
<div translate class="tb-cell" flex="15">audit-log.type</div>
<div translate class="tb-cell" flex="15">audit-log.status</div>
<div translate class="tb-cell" flex="10">audit-log.details</div>
