<md-dialog aria-label="{{ vm.title | translate }}">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>{{ vm.title }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.close()">
                    <ng-md-icon icon="close" aria-label="{{ 'dialog.close' | translate }}"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div flex id="tb-event-content" readonly
                     ui-ace="vm.contentOptions"
                     ng-model="vm.content">
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="$root.loading" ng-click="vm.close()" style="margin-right:20px;">{{ 'action.close' |
                translate }}
            </md-button>
        </md-dialog-actions>
</md-dialog>
