.json-form-ace-editor {
  position: relative;
  height: 100%;
  border: 1px solid #c0c0c0;

  .title-panel {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 5;
    font-size: .8rem;
    font-weight: 500;

    label {
      padding: 4px;
      color: #00acc1;
      text-transform: uppercase;
      background: rgba(220, 220, 220, .35);
      border-radius: 5px;
    }

    button.tidy-button {
      background: rgba(220, 220, 220, .35) !important;

      span {
        padding: 0 !important;
        font-size: 12px !important;
      }
    }
  }
}
