<md-content layout="row" layout-margin style="background-color: white;">

    <div layout="column" flex="45">
        <h3>The Generated Form</h3>
        <form name="ngform"
              layout="column"
              layout-padding>
            <tb-json-form schema="vm.schema"
                          form="vm.form"
                          model="vm.model"
                          readonly="vm.isFormReadonly === 'true'"
                          form-control="ngform">
            </tb-json-form>
        </form>
        <md-checkbox ng-true-value="'true'" ng-false-value="'false'"
                     ng-model="vm.isFormReadonly">Readonly</md-checkbox>
        <div flex layout="column">
            <div ng-show="ngform.$valid"><em>Form is valid</em></div>
            <div ng-show="ngform.$invalid"><em>Form is not valid</em></div>
            <div ng-show="ngform.$dirty"><em>Form is dirty</em></div>
            <h3>Model</h3>
            <md-button ng-click="vm.resetModel()">Reset model</md-button>
            <pre>{{vm.pretty()}}</pre>
        </div>
    </div>

    <div layout="column" flex>
        <h3>Form</h3>
        <div ui-ace="{ mode:'json'}"
             ng-class="{red: !vm.itParsesForm}" ng-model="vm.formJson" class="form-control form"></div>
        <h3>Schema</h3>
        <div ui-ace="{ mode:'json'}"
             ng-class="{red: !vm.itParses}" ng-model="vm.schemaJson" class="form-control schema"></div>

    </div>

</md-content>