@import "../../../scss/constants";

tb-states-component {
  min-width: 0;
}

.entity-state-controller {
  .state-divider {
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
  }

  .state-entry {
    overflow: hidden;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
  }

  md-select {
    margin: 0;

    .md-text {
      font-size: 18px;
      font-weight: 700;
    }
  }
}
