<div class="entity-state-controller" layout="row" layout-align="start center">
    <div ng-if="!vm.dashboardCtrl.isMobile || vm.stateObject.length===1" layout="row" layout-align="start center">
        <span ng-repeat="state in vm.stateObject track by $index" class='state-entry' ng-style="{fontWeight: $last ? 'bold' : 'normal',
                         cursor: $last ? 'default' : 'pointer'}" ng-click="vm.navigatePrevState($index)">
            {{vm.getStateName($index)}}
            <span class='state-divider' ng-hide="$last"> > </span>
        </span>
    </div>
    <md-select ng-if="vm.dashboardCtrl.isMobile && vm.stateObject.length > 1" aria-label="{{ 'dashboard.state' | translate }}" ng-model="vm.selectedStateIndex">
        <md-option ng-repeat="state in vm.stateObject track by $index" ng-value="$index">
            {{vm.getStateName($index)}}
        </md-option>
    </md-select>
</div>