.manage-dashboard-states {
  table.md-table {
    tbody {
      tr {
        td {
          &.tb-action-cell {
            width: 100px;
            min-width: 100px;
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
