<section flex layout='column' class="tb-entity-list">
    <md-chips flex
              readonly="disabled"
              id="entity_list_chips"
              ng-required="tbRequired"
              ng-model="entityList"
              md-autocomplete-snap
              md-require-match="true">
        <md-autocomplete
                md-no-cache="true"
                id="entity"
                md-selected-item="selectedEntity"
                md-search-text="entitySearchText"
                md-items="item in fetchEntities(entitySearchText, 10)"
                md-item-text="item.name"
                md-min-length="0"
                placeholder="{{ 'entity.entity-list' | translate }}">
            <md-item-template>
                <span md-highlight-text="entitySearchText" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
                <span translate translate-values='{ entity: entitySearchText }'>entity.no-entities-matching</span>
            </md-not-found>
        </md-autocomplete>
        <md-chip-template>
            <span>
                <strong>{{$chip.name}}</strong>
            </span>
        </md-chip-template>
    </md-chips>
    <div class="tb-error-messages" ng-messages="ngModelCtrl.$error" ng-if="inputTouched" role="alert">
        <div translate ng-message="entityList" class="tb-error-message">entity.entity-list-empty</div>
    </div>
</section>