/*
.tb-entity-type-list {
  #entity_type_list_chips {
    .md-chips {
      padding-bottom: 1px;
    }
  }
  .tb-error-messages {
    margin-top: -11px;
    height: 35px;
    .tb-error-message {
      padding-left: 1px;
    }
  }
}
*/
