<md-input-container>
    <label ng-if="showLabel">{{ entitySubtypeTitle | translate }}</label>
    <md-select name="subType" ng-model="entitySubtype" class="tb-entity-subtype-select" aria-label="{{ entitySubtypeTitle | translate }}">
        <md-option ng-repeat="subType in entitySubtypes" ng-value="subType">
            {{ subTypeName(subType) }}
        </md-option>
    </md-select>
    <div ng-messages="theForm.subType.$error">
        <div ng-message="required" translate>{{ entitySubtypeRequiredText }}</div>
    </div>
</md-input-container>
