@import "~compass-sass-mixins/lib/compass";

/* stylelint-disable selector-no-vendor-prefix */
@mixin input-placeholder {
  // replaces compass/css/user-interface/input-placeholder()

  &::-webkit-input-placeholder  {
    @content;
  }

  &:-moz-placeholder {
    @content;
    opacity: 1;
  }

  &::-moz-placeholder {
    @content;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    @content;
  }
}
/* stylelint-enable selector-no-vendor-prefix */

@mixin line-clamp($numLines: 1, $lineHeight: 1.412) {
  position: relative;
  max-height: ($numLines * $lineHeight * 1em);
  padding-right: 2em;
  margin-right: -1em;
  overflow: hidden;
  line-height: $lineHeight;
  text-align: justify;

  &::before {
    position: absolute;
    right: 1em;
    bottom: 0;
    content: "...";
  }

  &::after {
    position: absolute;
    right: 1em;
    width: 1em;
    height: 1em;
    margin-top: .2em;
    content: "";
    background: #fff;
  }
}
