md-toast.tb-info-toast .md-toast-content {
  height: 100%;
  padding: 18px;
  font-size: 18px;
}

md-toast.tb-success-toast .md-toast-content {
  height: 100%;
  font-size: 18px !important;
  background-color: #008000;
}

md-toast.tb-error-toast .md-toast-content {
  height: 100%;
  font-size: 18px !important;
  background-color: #800000;
}
