@import "../../scss/constants";

.tb-entity-view-panel-group {
  .tb-panel-title {
    min-width: 90px;
    user-select: none;

    @media (min-width: $layout-breakpoint-sm) {
      min-width: 180px;
    }
  }

  .tb-panel-prompt {
    overflow: hidden;
    font-size: 14px;
    color: rgba(0, 0, 0, .87);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.disabled {
    .tb-panel-title,
    .tb-panel-prompt {
      color: rgba(0, 0, 0, .38);
    }
  }

  md-icon.md-expansion-panel-icon {
    margin-right: 0;
  }
}
