<md-content flex layout="column">
    <section flex layout="column">
        <md-content flex class="md-padding" layout="column">
            <md-input-container flex>
                <label>{{ 'dashboard.select-dashboard' | translate }}</label>
                <md-select ng-model="vm.dashboardId" ng-change="vm.dashboardSelected(vm.dashboardId)">
                    <md-option ng-repeat="dashboard in vm.dashboards" ng-value="dashboard.id.id">
                        {{dashboard.title}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-content>
    </section>
</md-content>
