.tb-dashboard-autocomplete {
  .tb-not-found {
    display: block;
    height: 48px;
    line-height: 1.5;
  }

  .tb-dashboard-item {
    display: block;
    height: 48px;
  }

  li {
    height: auto !important;
    white-space: normal !important;
  }
}
