@import "../../scss/constants";

.tb-datasource-func {
  @media (min-width: $layout-breakpoint-sm) {
    padding-left: 8px;
  }

  md-input-container.tb-datasource-name {
    .md-errors-spacer {
      display: none;
    }
  }

  .tb-func-datakey-autocomplete,
  .tb-alarm-datakey-autocomplete {
    .tb-not-found {
      display: block;
      height: 48px;
      line-height: 1.5;

      .tb-no-entries {
        line-height: 48px;
      }
    }

    li {
      height: auto !important;
      white-space: normal !important;
    }
  }
}
