.tb-datakey-config {
  min-width: 500px !important;
  min-height: 500px !important;

  md-content {
    background-color: #fff;
  }
}

tb-datakey-config {
  md-content {
    background-color: #fff;
  }
}
