<section flex layout='column' layout-align="center" layout-gt-sm='row' layout-align-gt-sm="start center" class="tb-datasource">
    <md-input-container style="min-width: 110px;">
        <md-select placeholder="{{ 'datasource.type' | translate }}" required id="datasourceType" ng-model="model.type">
            <md-option ng-repeat="datasourceType in datasourceTypes" value="{{datasourceType}}">
                {{ datasourceType | translate }}
            </md-option>
        </md-select>
    </md-input-container>
    <section flex class="datasource" ng-switch on="model.type">
        <tb-datasource-func flex
                            ng-switch-default
                            ng-model="model"
                            max-data-keys="maxDataKeys"
                            opt-data-keys="optDataKeys"
                            datakey-settings-schema="datakeySettingsSchema"
                            ng-required="model.type === types.datasourceType.function"
                            widget-type="widgetType"
                            generate-data-key="generateDataKey({chip: chip, type: type})">
        </tb-datasource-func>
        <tb-datasource-entity flex
                              ng-model="model"
                              max-data-keys="maxDataKeys"
                              opt-data-keys="optDataKeys"
                              datakey-settings-schema="datakeySettingsSchema"
                              ng-switch-when="entity"
                              ng-required="model.type === types.datasourceType.entity"
                              widget-type="widgetType"
                              alias-controller="aliasController"
                              generate-data-key="generateDataKey({chip: chip, type: type})"
                              fetch-entity-keys="fetchEntityKeys({entityAliasId: entityAliasId, query: query, type: type})"
                              on-create-entity-alias="onCreateEntityAlias({event: event, alias: alias})">
        </tb-datasource-entity>
    </section>
</section>
