@import "../../scss/constants";

.tb-entity-alias-autocomplete,
.tb-timeseries-datakey-autocomplete,
.tb-attribute-datakey-autocomplete,
.tb-alarm-datakey-autocomplete {
  .tb-not-found {
    display: block;
    height: 48px;
    line-height: 1.5;

    .tb-no-entries {
      line-height: 48px;
    }
  }

  li {
    height: auto !important;
    white-space: normal !important;
  }
}

tb-datasource-entity {
  @media (min-width: $layout-breakpoint-sm) {
    padding-right: 4px;
    padding-left: 4px;
  }

  tb-entity-alias-select {
    @media (min-width: $layout-breakpoint-sm) {
      width: 200px;
      max-width: 200px;
    }
  }
}
