.tb-datasource {
  #entity-autocomplete {
    height: 30px;
    margin-top: 18px;

    md-autocomplete-wrap {
      height: 30px;
    }

    input,
    input:not(.md-input) {
      height: 30px;
    }
  }
}

@mixin tb-checkered-bg() {
  background-color: #fff;
  background-image:
    linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd),
    linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
}

.tb-color-preview {
  position: relative;
  width: 24px;
  min-width: 24px;
  height: 24px;
  overflow: hidden;
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);

  @include tb-checkered-bg();

  .tb-color-result {
    width: 100%;
    height: 100%;
  }
}

.tb-attribute-chip {
  .tb-chip-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tb-chip-separator {
    white-space: pre;
  }
}
