tb-datetime-period {
  md-input-container {
    margin-bottom: 0;

    .md-errors-spacer {
      min-height: 0;
    }
  }

  mdp-date-picker {
    .md-input {
      width: 150px !important;
    }
  }
}
