<section layout="column" layout-align="start start">
	<section layout="row" layout-align="start start">
	    <mdp-date-picker ng-model="startDate" mdp-placeholder="{{ 'datetime.date-from' | translate }}"
	       	></mdp-date-picker>
	    <mdp-time-picker ng-model="startDate" mdp-placeholder="{{ 'datetime.time-from' | translate }}"
	    	mdp-auto-switch="true"></mdp-time-picker>
    </section>
	<section layout="row" layout-align="start start">
	    <mdp-date-picker ng-model="endDate" mdp-placeholder="{{ 'datetime.date-to' | translate }}"
	       	></mdp-date-picker>
	    <mdp-time-picker ng-model="endDate" mdp-placeholder="{{ 'datetime.time-to' | translate }}"
	    	mdp-auto-switch="true"></mdp-time-picker>
    </section>
</section>