<md-button 
	ui-sref-active-eq="tb-active" ui-sref="{{section.state}}"
    class="md-button-toggle"
	aria-controls="docs-menu-{{section.name | nospace}}" layout="row"
	aria-expanded="{{sectionActive()}}">
	<md-icon ng-show="section.icon != null" aria-label="{{section.icon}}" class="material-icons">{{section.icon}}</md-icon>
	<span flex>{{section.name | translate}}</span>
	<span aria-hidden="true" 
	class=" pull-right fa fa-chevron-down md-toggle-icon"
	ng-class="{'tb-toggled' : sectionActive()}"></span>
</md-button>
<ul id="docs-menu-{{section.name | nospace}}" class="tb-menu-toggle-list" ng-style="{height: sectionHeight()}">
	<li ng-repeat="page in section.pages">
     	<tb-menu-link section="page"></tb-menu-link>
	</li>
</ul>
