@import "~compass-sass-mixins/lib/compass";

.md-button-toggle .md-toggle-icon.tb-toggled {
  transform: rotateZ(180deg);
}

.tb-menu-toggle-list.ng-hide {
  max-height: 0;
}

.tb-menu-toggle-list {
  position: relative;
  z-index: 1;
  overflow: hidden;

  transition: .75s cubic-bezier(.35, 0, .25, 1);

  transition-property: height;
}
