<md-autocomplete ng-required="tbRequired"
                 ng-disabled="disabled"
                 md-input-name="entity"
                 ng-model="entity"
                 md-selected-item="entity"
                 md-search-text="entitySearchText"
                 md-search-text-change="entitySearchTextChanged()"
                 md-items="item in fetchEntities(entitySearchText)"
                 md-item-text="item.name"
                 md-min-length="0"
                 md-floating-label="{{ placeholderText | translate }}"
                 md-menu-class="tb-related-entity-autocomplete">
    <md-item-template>
        <div class="tb-entity-item">
            <span md-highlight-text="entitySearchText" md-highlight-flags="^i">{{item.name}}</span>
        </div>
    </md-item-template>
    <md-not-found>
        <div class="tb-not-found">
            <span>{{ notFoundText | translate:{entity: entitySearchText} }}</span>
        </div>
    </md-not-found>
    <div ng-messages="theForm.entity.$error">
        <div ng-message="required">{{ requiredText | translate }}</div>
    </div>
</md-autocomplete>
