<div layout="row" ng-show="!vm.isShareLinkLocal()">
    <md-button class="md-icon-button md-raised md-primary"
               socialshare
               socialshare-provider="facebook"
               socialshare-title="{{ vm.shareTitle }}"
               socialshare-text="{{ vm.shareText }}"
               socialshare-url="{{ vm.shareLink }}">
        <ng-md-icon icon="facebook" aria-label="Facebook"></ng-md-icon>
        <md-tooltip md-direction="top">
            {{ 'action.share-via' | translate:{provider:'Facebook'} }}
        </md-tooltip>
    </md-button>
    <md-button class="md-icon-button md-raised md-primary"
               socialshare
               socialshare-provider="twitter"
               socialshare-text="{{ vm.shareTitle }}"
               socialshare-hashtags="{{ vm.shareHashTags }}"
               socialshare-url="{{ vm.shareLink }}">
        <ng-md-icon icon="twitter" aria-label="Twitter"></ng-md-icon>
        <md-tooltip md-direction="top">
            {{ 'action.share-via' | translate:{provider:'Twitter'} }}
        </md-tooltip>
    </md-button>
    <md-button class="md-icon-button md-raised md-primary"
               socialshare
               socialshare-provider="linkedin"
               socialshare-text="{{ vm.shareTitle }}"
               socialshare-url="{{ vm.shareLink }}">
        <ng-md-icon icon="linkedin" aria-label="Linkedin"></ng-md-icon>
        <md-tooltip md-direction="top">
            {{ 'action.share-via' | translate:{provider:'Linkedin'} }}
        </md-tooltip>
    </md-button>
    <md-button class="md-icon-button md-raised md-primary"
               socialshare
               socialshare-provider="reddit"
               socialshare-text="{{ vm.shareTitle }}"
               socialshare-url="{{ vm.shareLink }}">
        <md-icon md-svg-icon="mdi:reddit" aria-label="Reddit"></md-icon>
        <md-tooltip md-direction="top">
            {{ 'action.share-via' | translate:{provider:'Reddit'} }}
        </md-tooltip>
    </md-button>
</div>