<md-select ng-required="tbRequired"
           ng-model="widgetsBundle"
           md-container-class="tb-widgets-bundle-select"
           placeholder="{{ 'widget.select-widgets-bundle' | translate }}"
           class="md-no-underline">
    <md-option ng-repeat="item in widgetsBundles" ng-value="item">
        <div class="tb-bundle-item">
            <span>{{item.title}}</span>
            <span translate class="tb-bundle-system" ng-if="isSystem(item)">widgets-bundle.system</span>
        </div>
    </md-option>
</md-select>
