@import "../../scss/mixins";

tb-widgets-bundle-select {
  md-select {
    padding: 5px 20px;
    margin: 0;
  }

  .tb-bundle-item {
    height: 24px;
    line-height: 24px;
  }
}

.tb-widgets-bundle-select {
  .tb-bundle-item {
    height: 48px;
    line-height: 48px;
  }
}

tb-widgets-bundle-select,
.tb-widgets-bundle-select {
  .md-text {
    display: block;
    width: 100%;
  }

  .tb-bundle-item {
    display: inline-block;
    width: 100%;

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .tb-bundle-system {
      float: right;
      font-size: .8rem;
      opacity: .8;
    }
  }

  md-option {
    height: auto !important;
    white-space: normal !important;
  }
}

md-toolbar {
  tb-widgets-bundle-select {
    md-select {
      background: rgba(255, 255, 255, .2);

      .md-select-value {
        font-size: 1.2rem;
        color: #fff;

        span:first-child::after {
          color: #fff;
        }
      }

      .md-select-value.md-select-placeholder {
        color: #fff;
        opacity: .8;
      }
    }

    md-select.ng-invalid.ng-touched {
      .md-select-value {
        color: #fff !important;
      }
    }
  }
}
