<div flex class="tb-breadcrumb" layout="row">
	<h1 flex hide-gt-sm>{{ steps[steps.length-1].ncyBreadcrumbLabel | breadcrumbLabel }}</h1>
	<span hide-xs hide-sm ng-repeat="step in steps" ng-switch="$last || !!step.abstract">
	    <a ng-switch-when="false" href="{{step.ncyBreadcrumbLink}}">
	    <md-icon ng-show="step.ncyBreadcrumbLabel | breadcrumbIcon" 
	    class="material-icons"
	    aria-label="{{step.ncyBreadcrumbLabel | breadcrumbIcon}}">
	    	{{step.ncyBreadcrumbLabel | breadcrumbIcon}}
	    </md-icon>
	    {{step.ncyBreadcrumbLabel | breadcrumbLabel}}
	    </a>
	    <span ng-switch-when="true">
	    	<md-icon ng-show="step.ncyBreadcrumbLabel | breadcrumbIcon" 
	    	class="material-icons"
	    	aria-label="{{step.ncyBreadcrumbLabel | breadcrumbIcon}}">
	    	{{step.ncyBreadcrumbLabel | breadcrumbIcon}}
	    	</md-icon>
	    	{{step.ncyBreadcrumbLabel | breadcrumbLabel}}</span>
	    <span class="divider" ng-hide="$last"> > </span>
	</span>
</div>
