.tb-relation-additional-info-panel {
  height: 100%;
  margin-left: 15px;
  border: 1px solid #c0c0c0;

  #tb-relation-additional-info {
    width: 100%;
    min-width: 200px;
    height: 100%;
    min-height: 200px;
  }
}
